svg {
    /* background-color: grey; */
    padding: 20px;
}

/* #chart {
    display: flex;
    align-items: center;
    justify-items: flex-start;
} */

.bar {
    fill: grey;
}

.bar:hover {
    fill: pink;
}



