svg {
    /* background-color: grey; */
    padding: 20px;
}

#chart {
display: flex;
flex-direction: column;
align-items: center;
}

.bar {
    fill: grey;
}

.bar:hover {
    fill: pink;
}

#tooltip {
    padding: 10px;
    border-radius: 10%;
}

p {
    padding: 0;
}

.tooltip-off {
    position:absolute; 
    opacity:0; 
    z-index:10;
}

.tooltip-on {
    background-color: plum;
    opacity: 1;
    display: inline-block;
}



